
{% if not user == "guest" %}
{% extends "user_header.html" %}
{% endif %}

{% if user == "guest" %}
{% extends "header_template.html" %}
{% endif %}

{% block contents %}
<h2>some stuff about us here</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam optio quia eos minima aperiam sed, neque suscipit non dolores rerum reprehenderit sequi vel exercitationem doloremque consectetur iure repellendus? Error nisi sunt deleniti! Dolorem totam ratione quia voluptatum nesciunt id repellat? Odit ex praesentium sed doloremque, omnis rerum nam unde, pariatur beatae nesciunt dolores libero.</p>
{% endblock %}