{% extends "header_template.html" %}

{% block contents %}

<h3>account creation unssucessfull</h3>

<section class="guest-home-section">
    <h2>Try again </h2>
    <section class="guest-home-section-contents">

    <form class="forms "method="post" action="/create_account">
        <label for="name">Username</label>
        <input name="name" type="text">
        <label for="password">password</label>
        <input name="password" type="password">
        <label for="password-repeat">repeat password</label>
        <input name="password-repeat" type="password">
        <input type="submit" value="Create account">
    </form>
</section>
</section>
    {% endblock %}