{% extends "header_template.html" %}

{% block contents %}

<section class="guest-home-section">
<h2>Try again</h2>
<form class="forms" method="post" action="/validate_login">
    <label for="name">Username</label>
    <input name="name" type="text">
    <label for="password">password</label>
    <input name="password" type="password">
    <input type="submit" value="Log In">
</form>
</section>

{% if reason == "no_user" %}
<section class="guest-home-section">

<h2>Or sign up</h2>
<form class="forms" method="post" action="/create_account">
    <label for="name">Username</label>
    <input name="name" type="text">
    <label for="password">password</label>
    <input name="password" type="password">
    <label for="password-repeat">repeat password</label>
    <input name="password-repeat" type="password">
    <input type="submit" value="Create account">
</form>
</section>
{% endif %}

{% endblock %}