<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page_title}}</title>
</head>
<body>
    <nav>
        <a href="/">Homepage</a>
        <a href="/about_us/guest">About us</a>
    </nav>
    <hr>
    <section class="contents-section-back">
        {% if reason == "wrong_pass" %}
<h1>Wrong password<h1>
{% endif %}
{% if reason == "no_user" %}
<h1>User not registered</h1>
{% endif %}

{% if reason == "userexists" %}
<h1>This username has been taken</h1>

{% endif %}
{% if reason == "passnomatch" %}
<h1>The passwords inputed do not match</h1>
{% endif %}
{% if reason == "blankform" %}
<h1>Please fill in fields correctly</h1>
{% endif %}

        <h1>
            {{page_h1}}
        </h1> 

        <section class="contents-section">


        {% block contents %}
        
        {% endblock %}

    </section>
    </section>
    
</body>
</html>