{% extends "user_header.html" %}
{% block contents %}
<!-- Loads hacker message if auth is false -->
{% if user.login_auth == False %}
<h1>Fuj off you wannabe hacker</h1>
{% endif %}


<div class="list-books">

<!-- Renders message if no books rented -->
{% if user.books|count < 1 %}
    <h2>You have no rented books</h2>
{% endif %}

<!-- Renders list of books rented -->
{% if user.books|count > 0 %}
<h2>Currently rented books</h2>

<!-- <div class="book-display"> -->
    <form action="/{{user.userid}}/return" method="post">
    {% for book in user.books %}
    {% if book in book_list %}
    
    <div class="book-rented">
        <h3>{{book.title}}</h3>
        <p><a href="/{{ user.userid }}/book/{{ book_list.index(book) }}">details</a></p>
            <input id="checkbox" type="checkbox" name="{{book.title}}" id="">
    </div>
    {% endif %}
    {% endfor %}
    <input type="submit" value="return selected books"> 
</div>
</form>
{% endif %}
</div>


<div class="list-books-not-rented">

<!-- Display message if no books are available -->
{% if available_books|count < 1 %}
<h2>There are no books available</h2>
{% endif %}

<!-- Show list of available books for rental -->
{% if available_books|count > 0 %}
<h2>Books available for rental</h2>
<div class="book-display">

{% for book in available_books %}
<form action="/{{user.userid}}/rent" method="post">
<div class="book-not-rented">

    <h3>{{book.title}}</h3>
    <p><a href="/{{ user.userid }}/book/{{ book_list.index(book) }}">details</a></p>
        <input id="checkbox" type="checkbox" name="{{book.title}}">
    </div>

        {% endfor %}
    </div>
        
        <input type="submit", value="Rent Selected Books">
    </form>
    
{% endif %}
</div>


{% endblock %}
